workflow/.snakemake
workflow/cache
workflow/fastq/
workflow/mapped_reads/
workflow/fast5/
workflow/reference/
workflow/eventalign/
workflow/candidates/
workflow/summary/
slurm*out
Mambaforge-Linux-x86_64.sh

